<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="pic">
        <img class="w-100" src="../../../assets/headset-customer-support-equipment-call-260nw-2082485323 1.png" alt="">
        <div class="layer">
          <h4>Contact Us</h4>
        </div>
      </div>
    </div>
    <div class="col-md-6 editt">
      <div class="info">
        <div class="mb-3">
          <input type="text" class="www" placeholder="Full Name">
        </div>
        <div class="mb-3">
          <input type="email" class="www" placeholder="E-mail">
        </div>
        <div class="mb-3">
          <input type="number" class="www" placeholder="Phone">
        </div>
        <div class="mb-3">
          <textarea id="" cols="50" rows="5" class="www" placeholder="Message"></textarea>
        </div>
        <button class="btn">Send</button>
      </div>
    </div>
  </div>
</div>
