<section>
    <div class="layer"></div>
    <div class="info">
        <img src="../../../assets/footer-logo.png" alt="">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat tellus, pharetra
            vel elit et, commodo eleifend ex. Curabitur vitae lectus elit. </p>
        <div class="icon">
            <a href=""> <i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
             <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</section>