<section class="home">
<div class="layer">
    <div>
        <h3>strive <br>
        to fulfill the dream of<br>
        finding the perfect home
        </h3>
        <button>Let’s Start</button>
    </div>
   
</div>
</section>
<section class="about">
<h2>About Us</h2>
<div class="collect">
    <div class="caption">
        <p>
            Lorem ipsum dolor sit amet, consectetur <br>
            adipiscing elit. Nullam erat tellus, pharetra <br>
            vel elit et, commodo eleifend <br>
            Curabitur vitae lectus elit. 
        </p>
    </div>
    <div class="imgOfAbout"><img class="w-100" src="../../../assets/home-about.png" alt=""></div>
</div>
</section>
<section class="projects">
    <h2>Projects</h2>
    <div class="filters">
        <a >All</a>
        <a >Toronto</a>
        <a >Durham</a>
        <a >York Region</a>
        <a>Halton</a>
    </div>
    <div class="contant">
        <div class="project"><img src="../../../assets/project1.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project2.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project3.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project4.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project5.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project6.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project7.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project8.png" alt="" ></div>
    </div>
</section>