<section>
    <h2>Projects</h2>
    <div class="filters">
        <a >All</a>
        <a >Toronto</a>
        <a >Durham</a>
        <a >York Region</a>
        <a>Halton</a>
    </div>
    <div class="contant">
        <div class="project"><img src="../../../assets/project1.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project2.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project3.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project4.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project5.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project6.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project7.png" alt="" ></div>
        <div class="project"><img src="../../../assets/project8.png" alt="" ></div>
    </div>
</section>