<section class="pb-5">
    <div class="serv-info">
      <h2>Services</h2>
  
      <div class="parent">
  
        <div class="child child1">
          <img src="../../../assets/Rectangle 46.png" alt="">
          <p>Initial design consultation</p>
        </div>
  
        <div class="child">
          <img src="../../../assets/Rectangle 64.png" alt="">
          <p>Drafting services</p>
        </div>
  
        <div class="child">
          <img src="../../../assets/Rectangle 58.png" alt="">
          <p>Commercial and residential services</p>
        </div>
  
        <div class="child">
          <img src="../../../assets/Rectangle 64 (1).png" alt="">
          <p>Aerial property photos</p>
        </div>
  
        <div class="child">
          <img src="../../../assets/Rectangle 64 (2).png" alt="">
          <p>Waterproofing services</p>
        </div>
  
      </div>
    </div>
  </section>
  
  
  
  
  
  
  
  <!-- Engineering Consultation -->
  <section class="pt-5 main">
  
    <div class="eng">
      <h3>Engineering Consultation</h3>
    </div>
  
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-6">
          <div class="pic">
            <img class="w-100" src="../../../assets/headset-customer-support-equipment-call-260nw-2082485323 1 (1).png"
              alt="">
            <div class="layer">
              <h4>Engineering <br> Consultation</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 foorm">
          <div class="info">
            <div class="mb-3">
              <input type="text" class="www" placeholder="Full Name">
            </div>
            <div class="mb-3">
              <input type="email" class="www" placeholder="E-mail">
            </div>
            <div class="mb-3">
              <input type="number" class="www" placeholder="Postal Code">
            </div>
            <div class="mb-3">
              <input type="text" class="www" placeholder="Are you an agent ?">
            </div>
            <button class="btn">Send</button>
          </div>
        </div>
      </div>
    </div>
  </section>